#hudown{
    height: 40px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.l{
    height: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.c{
    height: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.r{
    height: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}